doctype html
html
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        // WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 
        // <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> 
        meta(name="viewport", content="user-scalable=no, width=320")
        link(rel="stylesheet", href="jquery/jquery.mobile-1.4.3.min.css")
        script(src="jquery/jquery-2.1.1.js")
        script(src="jquery/jquery.mobile-1.4.3.min.js")
        title SAV - Sistema de Acompanhamentos de Visitas
        style.

            #barrastatus p {text-align:center}
        
    body

        div#pgloading(data-role="page", data-theme="b")
            div(data-role="header")

            div(role="main", class="ui-content")

            div(data-role="footer", data-position="fixed")
                
        div#pglogin(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                        h3 SAV - Sistema de Acompanhamento de Visitas

                        form#loginForm
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="username") Usuário:
                                input(type="text",name="username",id="username",value="",placeholder="Usuário")
                                
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="password") Senha:
                                input(type="password", name="password",id="password",value="",placeholder="Senha")

                            input(type="submit",value="Entrar",id="submitButton")


            div(data-role="footer", data-position="fixed")
                h4 &copy Transforma
                

        div#pglogado(data-role="page", data-theme="b")
            div#painel(data-role="panel",data-position="right", data-display="overlay")
                h1 Menu
                ul(data-role="listview",data-inset="true",data-divider-theme="b")
                    li
                       a#logativrecent(href="javascript:app.mostraHistorico()") Sincronizar Atividades
                    li
                       a(href="javascript:userview.trocarUsuario();") Trocar de Usuario


            div(data-role="header")
                h1 SAV
                a.ui-btn-right(href="#painel",data-transition="slidedown", data-icon="bars") Menu 
             
            div#tabs(data-role="tabs",data-inset="false")
                    div(data-role="navbar",data-inset="false")
                        ul(data-inset="false")
                            li 
                                a.ui-btn-active(href="#tabhoje",data-ajax="false") Hoje
                            li
                                a(href="#tabontem",data-ajax="false") Ontem
                            li
                                a(href="#tabamanha",data-ajax="false") Amanhã

                    div#tabhoje.ui-content                
                        ul#ulhoje(data-role="listview", data-inset="false",data-shadow='false')
                        div#barrastatus 
                            br
                            p.hora
                            p.gps -41.0023, -42.0012
                    div#tabontem.ui-content
                        ul#ulontem(data-role="listview",data-filter="true",data-filter-placeholder='Buscar', data-inset="true",data-shadow='false')
                    div#tabamanha.ui-content
                        ul#ulamanha(data-role="listview",data-filter="true",data-filter-placeholder='Buscar', data-inset="true",data-shadow='false')
              
            div(data-role="footer", data-position="fixed")
                h4 &copy Transforma
    


        div#pgatividade(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Atividade 


                p#ativuser(style="text-align:center") Vitor 
                p#ativid(style="text-align:center") id 
                p#ativdata(style="text-align:center") 02/07/2014 às 09:02:39
                p#ativgps(style="text-align:center") 02/07/2014 às 09:02:39


                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="$.mobile.changePage('#pgfimatividade',{changeHash:false})") Finalizar Atividade


            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática


        div#pgfimatividade(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Deseja Finalizar atividade?

                p(style="text-align:center") 
                    input(name="txtpresentes",id="txtpresentes",step='1',placeholder="nº de presentes",value="",type="number")
                p(style="text-align:center") 
                    input(name="txtparticipantes",id="txtparticipantes",step='1',placeholder="nº de participantes",value="",type="number")

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-corner-all(onclick="$.mobile.changePage('#pgatividade',{changeHash:false})") Não
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="app.atividade.finalizar()") Sim

        div#pgfimalmoco(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Deseja Finalizar o almoço?

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-corner-all(onclick="$.mobile.changePage('#pgalmoco',{changeHash:false})") Não
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="app.atividade.finalizarAlmoco()") Sim



            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática




        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="js/index.js")
        script(type="text/javascript").
             var app = new App();
