doctype html
html
    head
        meta(charset="utf-8")
        meta(name="format-detection", content="telephone=no")
        meta(name="msapplication-tap-highlight", content="no")
        // WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 
        // <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> 
        meta(name="viewport", content="user-scalable=no, width=320")
        link(rel="stylesheet", href="jquery/jquery.mobile-1.4.3.min.css")
        script(src="jquery/jquery-2.1.1.js")
        script(src="jquery/jquery.mobile-1.4.3.min.js")
        title SAV - Sistema de Acompanhamentos de Visitas
        
        
    body

        div#pgloading(data-role="page", data-theme="b")
            div(data-role="header")

            div(role="main", class="ui-content")

            div(data-role="footer", data-position="fixed")
                
        div#pglogin(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                        h3 SAV - Sistema de Acompanhamento de Visitas

                        form#loginForm
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="username") Usuário:
                                input(type="text",name="username",id="username",value="",placeholder="Usuário")
                                
                            div(data-role="fieldcontain",class="ui-hide-label")
                                label(for="password") Senha:
                                input(type="password", name="password",id="password",value="",placeholder="Senha")

                            input(type="submit",value="Entrar",id="submitButton")


            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática
                

        div#pglogado(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                ul(data-role="listview",data-inset="true",data-divider-theme="b")
                    li 
                       a(href="javascript:app.iniciarExpediente()") Iniciar Expediente
                br 

                ul#logulop(data-role="listview",data-inset="true",data-divider-theme="b")
                    li(data-role="list-divider",data-count-theme='b') Opções
                    li
                       a#logativrecent(href="javascript:app.mostraHistorico()") Histórico de Atividades
                    li
                       a(href="javascript:app.trocarUsuario();") Trocar de Usuario

            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática
    

 
        div#pgexpediente(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Expediente 

                p#expuser(style="text-align:center") Vitor 
                p#expdata(style="text-align:center") 02/07/2014 às 09:02:39
                p(style="text-align:center") 
                    button.ui-btn.ui-btn-icon-right.ui-icon-carat-r.ui-corner-all(onclick="app.iniciarAtividade()") Iniciar Atividade

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-icon-right.ui-icon-clock.ui-corner-all(onclick="app.iniciarAlmoço()") Iniciar Horário de Almoço

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="app.expediente.finalizar()") Finalizar Expediente


            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática
                
        div#pghistorico(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                ul#ulhistorico(data-role="listview",data-filter="true",data-filter-placeholder='Buscar' data-inset="true",data-divider-theme="b")

            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática

        div#pgalmoco(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Em horário de almoço 


                p#almouser(style="text-align:center") Vitor 
                p#almodata(style="text-align:center") 02/07/2014 às 09:02:39
                p#almogps(style="text-align:center") 02/07/2014 às 09:02:39


                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="$.mobile.changePage('#pgfimalmoco',{changeHash:false})") Finalizar Almoço


            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática



        div#pgatividade(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Atividade 


                p#ativuser(style="text-align:center") Vitor 
                p#ativid(style="text-align:center") id 
                p#ativdata(style="text-align:center") 02/07/2014 às 09:02:39
                p#ativgps(style="text-align:center") 02/07/2014 às 09:02:39


                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="$.mobile.changePage('#pgfimatividade',{changeHash:false})") Finalizar Atividade


            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática


        div#pgfimatividade(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Deseja Finalizar atividade?

                p(style="text-align:center") 
                    input(name="txtpresentes",id="txtpresentes",step='1',placeholder="nº de presentes",value="",type="number")
                p(style="text-align:center") 
                    input(name="txtparticipantes",id="txtparticipantes",step='1',placeholder="nº de participantes",value="",type="number")

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-corner-all(onclick="$.mobile.changePage('#pgatividade',{changeHash:false})") Não
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="app.atividade.finalizar()") Sim

        div#pgfimalmoco(data-role="page", data-theme="b")
            div(data-role="header")
                h1 SAV

            div(role="main", class="ui-content")
                h3(style="text-align:center") Deseja Finalizar o almoço?

                p(style="text-align:center") 
                    button.ui-btn.ui-btn-inline.ui-corner-all(onclick="$.mobile.changePage('#pgalmoco',{changeHash:false})") Não
                    button.ui-btn.ui-btn-inline.ui-btn-icon-right.ui-icon-check.ui-corner-all(onclick="app.atividade.finalizarAlmoco()") Sim



            div(data-role="footer", data-position="fixed")
                h4 &copy WSQ Informática




        script(type="text/javascript", src="cordova.js")
        script(type="text/javascript", src="js/index.js")
        script(type="text/javascript").
             var app = new App();
